<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rocio.Resources.FontList" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Rocio.Forms.FontList" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Rocio.Forms.FormSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Rocio.Resources.FontList>
            <setting name="F1Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F2Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F3Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F4Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F9Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F10Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F11Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F12Color" serializeAs="String">
                <value />
            </setting>
        </Rocio.Resources.FontList>
        <Rocio.Forms.FontList>
            <setting name="F1Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F2Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F3Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F4Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F9Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F10Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F11Color" serializeAs="String">
                <value />
            </setting>
            <setting name="F12Color" serializeAs="String">
                <value />
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Rocio.Forms.FontList>
        <Rocio.Forms.FormSetting>
            <setting name="Font" serializeAs="String">
                <value>GulimChe, 10.8pt</value>
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ControlColor" serializeAs="String">
                <value>40, 40, 40</value>
            </setting>
            <setting name="FormColor" serializeAs="String">
                <value>30, 30, 30</value>
            </setting>
            <setting name="MaximumStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="StartSize" serializeAs="String">
                <value>1100, 600</value>
            </setting>
        </Rocio.Forms.FormSetting>
    </userSettings>
</configuration>